.success-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.success-box .tick {
  width: 15%;
}

.booking-details td {
  padding: 10px;
}

.booking-details td div {
  white-space: pre-line;
}

.booking-details td:nth-child(odd) {
  font-weight: bold;
  text-align: left;
}

.booking-details td:nth-child(even) {
  text-align: right;
}
